<h2>Free Statistics for the Web</h2>
<p><em>Version 1.0</em></p>
<p>This project aims to produce scientific visualisations, mostly for biological data, which run directly in the web
    browser. As such, it's not trying to do very large scale visualisations, but focuses more on customisation and ease
    of use.</p>
<h3>Tools</h3>
<p>The <a href="#circular-plot">Circular Plot</a> tool is intended to help circadian rhythm biologists quickly visualise
    a set of peak times on a variable length cycle. It includes a built-in histogram contruction, customisation of the
    cycle time, binning sizes and easy entry of data, as well as full customisation of the visualisation itself. In
    addition to the charting functionality it also computes the circular mean <a
            href="https://en.wikipedia.org/wiki/Mean_of_circular_quantities">[1]</a> and angular dispersion or r-value
    <a href="http://webspace.ship.edu/pgmarr/Geo441/Lectures/Lec%2016%20-%20Directional%20Statistics.pdf">[2]</a> and
    shows these
    quantities on the chart. You can (and should, if able) check the algorithms by reading the source code <a
            href="https://github.com/tomoinn/web-statistics/blob/master/src/components/circular-plot/circular-plot.js">[3]</a>.
</p>
<ol start="1">
    <li><a href="https://en.wikipedia.org/wiki/Mean_of_circular_quantities">https://en.wikipedia.org/wiki/Mean_of_circular_quantities</a>
    </li>
    <li><a href="http://webspace.ship.edu/pgmarr/Geo441/Lectures/Lec%2016%20-%20Directional%20Statistics.pdf">http://webspace.ship.edu/pgmarr/Geo441/Lectures/Lec%2016%20-%20Directional%20Statistics.pdf</a>
    </li>
    <li><a href="https://github.com/tomoinn/web-statistics/blob/master/src/components/circular-plot/circular-plot.js">https://github.com/tomoinn/web-statistics/blob/master/src/components/circular-plot/circular-plot.js</a>
    </li>
</ol>
<h3>Citing</h3>
<p>If you use these tools in your work, please cite the following:</p>
<p><b>Oinn, T. (2016). Free Statistics for the Web.</b><em> Retrieved from http://cyclonic.org/webstats</em></p>